@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact Details</h1>
    <p>Name: Alice Hansen</p>
    @*<p>Phone No: <a href="tel:+977980xxxxxxx">+977980xxxxxxx</a></p>*@
    <p>Phone No: <phone tel="+977980xxxxxxx"></phone></p>
    @*<p>Email: <a href="mailto:alice@example.com">alice@example.com</a></p>*@
    <p>Email: <email mail-to="alice"></email></p>
</div>
