@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact Details</h1>
    <p>Name: Alice Hansen</p>
    <p>Phone No: <a href="tel:+9779804374623">+9779804374623</a></p>
    <p>Email: <a href="mailto:alice@example.com">alice@example.com</a></p>
</div>
